fieldset{
    line-height: 35px;
    border: blue solid 2px;
    border-radius: 20px;
    padding: 20px;
    
}

legend{
    font-size: 40px;
    color: blue;

}

button{
    height: 35px;
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: blue;
    border-radius: 10px;
    border-color: blue;

}

