label{
    font-size: 20px;
}
input:checked {
    margin-left: 25px;
    border: 1px solid blue;
  }

input{
    padding: 20px;
    margin: 10px;
    display: block;
    border: chartreuse 8px solid;
}


input:focus{
    border:  rgb(47, 4, 235) 8px solid;
}

textarea:read-only {
    background-color: rgb(43, 4, 4);
  }

:nth-child(4n) {
    color: rgb(18, 105, 18);
  }

button{
    display: block;
    margin: 10px;
}

button:disabled{
    background-color: rgb(190, 190, 201);
}

button:enabled{
    background-color: rgb(238, 13, 13)
}

a:hover{
    color: rgb(255, 0, 13);
}
p{
    font-size: 25px;
}

p::first-letter{
    font-size: 50px;
    color: rgb(12, 93, 214);
}

p em:last-of-type {
    color: rgb(73, 78, 73);
  }

  .box {
    background: rgb(235, 5, 44);
    height: 80px;
    width: 80px;
    margin-bottom: 15px;
  }
  
  .box:empty {
    background: rgb(5, 139, 216);
  }

  
