body{
    padding: 0;
    margin: 0;
    background-color: rgb(218, 216, 216);
}
header{
    background-color: black;
    height: 150px;
    border-bottom: rgb(219, 70, 11) 5px solid;
    border-top: rgb(219, 70, 11) 5px solid;
}

img{
    width: 100px;
    height: 100px;
    padding: 20px;
}

h1{
    position: relative;
    color: rgb(216, 84, 7);
    bottom: 160px;
    text-align: center;
    font-size: 70px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(165, 8, 8);
}

form{
    margin: 30px;
    background-color: rgb(2, 2, 2);
    padding: 20px;
    box-shadow: 5px -5px rgb(219, 70, 11)
    
}

legend{
    font-size: 25px;
    font-style: oblique;
    color: rgb(224, 75, 20);
    
}

fieldset{
    line-height: 35px;
    border: rgb(219, 70, 11) solid 2px;
    border-radius: 20px;
    padding: 20px;
}

label{
    color: rgb(219, 70, 11);
    font-size: 20px;
}

input{
    border:rgb(219, 70, 11) 2px solid;
    

}


textarea{
    margin-top: 10px;
    padding: 15px;
    border:rgb(219, 70, 11) 2px solid;
}

select{
    padding: 5px;
    color: rgb(216, 84, 7);
    border: rgb(219, 70, 11) 2px solid;
}

button{
    text-align: center;
    margin-left: 20px;
    margin-top: 30px;
    background-color:  rgb(219, 70, 11);
    border-color:  rgb(219, 70, 11);
    padding: 10px;
    width: 100px;
    border-radius: 5px 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
