    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 

    body{
        margin: 0;
        background-color: #131313;
    }

    h1{
        color: white;
        font-family: 'Roboto';
    }

    .media-picture{
        width: 100%;
        height: 400px;
        background-image: url("img/lhasaApso.png");
        background-size: cover;
        background-position: center; 
    }

    .media-picture h1{
        color: white;
    }

    .review-score{
        color: white;
        background-color: #e6bd09;
        padding: 12px;
    }

    h2, h3{
        color: steelblue;
    }

    p{
        color: #bdbdbd;
        font-family: 'Roboto';
        text-align: justify;
    }

    a{
        color: yellow
    }